<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EventLoggerEnabled" value="0"/>
    <add key="DebugForLunchLeavingEnabled" value="0"/>
    <add key="DebugForLunchReturningEnabled" value="0"/>
    <add key="DebugForEndOfWorkDayEnabled" value="1"/>
    <add key="DebugForPostponeTimerEnabled" value="0"/>
  </appSettings>
</configuration>