<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Add these lines to your App.config file and inform your Azure's configurations -->
  <appSettings>
    <add key="AzureSearchServiceName" value="" />
    <add key="AzureSearchServiceAdminKey" value="" />
    <add key="AzureSearchServiceQueryKey" value="" />
  </appSettings>
</configuration>